/* feuille de style pour la page des images */ 

body {
    background-color: lightgrey;
}

h1 {
    color: red; 
}
img {
        height:290px;
        padding:20px 20px 20px 20px;
        margin-bottom:20px;
        border:20px dotted  rgb(24, 59, 113) (62, 62, 114);

    }




