/* feuille de style pour la page des images */ 

body {
    background-color: lightgrey;
}

h1 {
    color: red; 
}

/* avec cette class je peux modifier l'affichage normal de la balise de type inline à laquelle j'affecte cette class et qui devient de type block */
.block {
    display: block;
}

img {
        border: 20px solid rgb(143, 155, 221);
        margin: 5%;
        border-radius: 50%;

    }
    





