/* feuille de style pour la page sebastien site */ 


body { 
        color:rgb(0, 0, 0);
        background-color:white;
        opacity: 1;
        background-repeat:no-repeat; 
    }
    body:after {
        content: "image-fond";
        background-image: url(../img/canaldelourcq.jpg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

img {
        height:140px;
        padding:20px 20px 20px 20px;
        margin-left: 26px;
        margin-top: 12px;
        margin-bottom:100px;
        border:2px solid  rgb(62, 62, 114);
        
    }
    
*{
    font-family: 'Times New Roman', Times, serif;
}
   


body {
    background-color: burlywood;
    /* largeur de la page 50% de la taille de l'écran du navigateur */
    width: 50%;
    /* la marge exterieur de l'élément, avec une gestion automatique des marges pour que le contenu de body soit centré dans la fenêtre */
    margin: auto;
}

/* les styles pour le tableau */

/* Border 3 valeurs : épaisseur, type de filet, couleur */
table {

     /* la bordure du tableau
    /* Boreder 3 valeurs : épaisseur, type de filet, couleur */
    border: 5px solid #565545;

    /* par défaut la bordure contient 2 traits, pour que le trait soit unique on utilise la propriété "collapse" */
    border-collapse: collapse;
    /* la largeur du tableau par rapport à son contenant donc ici BODY // le tableau hérite des propriétés de son contenant sauf changement ici de la couleur de fond*/
    width: 90%
}   
caption {
background-color: #E6E6FA;
    /* border: 3px solid #483D8B; */
    padding: 10px;
    /* border-collapse: collapse; */
    font-weight: bold;
    text-transform: uppercase;
}
/* il est possible de déclarer plusieurs éléments et de leur affecter les mêmes propriétés        les éléments sont séparés par une virgules */
thead, tfoot {
    background-color: rgb(154, 194, 196);
    border: 5px solid rgb(129, 0, 0)
}

tbody {
    /* border: 8px solid black; */
    border: 1px solid black;
}

th {
    /* dotter =pointillé */
    border: 2px dotted #565545;
    /* la marge intérieur de l'élément : padding */
    padding: 15px;
    width: 25%;
}
td {
    border: 1px dotted #565545;
    text-align: center;
    padding: 5px;
}
/* td:first-child le 1er td pour aligner à gauche le texte dans la première cellule de chaque rangée */
td:first-child {
    text-align: left;
    background-color: rgb(144, 192, 192);
}
   
a {
    color: rgb(89, 80, 80);
    text-transform: initial;
    font-family: 'Times New Roman', Times, serif}



 
 
    