/*  feuille de style pour le deuxième zoning */

body {
   background:linear-gradient(to right, #251899, #974550);
   font-size: 25px;
   color: mintcream;
}
#contenu {
    width: 80%;
    border:  5px solid white;
    margin: 0 auto;
}   
header {
    background-color: #4d0505;
    height: 100px;
}
nav {
    background-color: #363636;
    height: 50px;
}
section {
    height: 500px;
    background-color: lightslategrey;
}
.clear {
    clear :both;
}
footer {
    background-color: maroon;
    height: 100px;
}
.a, .b, .c, .d {
    width: 50%;
    height: 250px;
    float: left;
}

.a {
    background: url(../img/egyptehieroglyphes.jpg);
}


.b {
    background-color: magenta;
}
.c {
    background-color: mediumslateblue;
}
.d {
    background-color: navy;
}