

body {
    background-color: rgb(7, 230, 230);
}
    /* stylespour la DD? Les DT et les DD */
    /* style pour bien voir les réponse aux questions */



    body ::after {
        background-image: url();
    }

.reponse {
        background-color:rgb(0, 162, 255);
    }

DD {
    background-color: rgb(231, 198, 255);
}

DT {
    background-color: rgb(208, 199, 226);
}

DL {
    background-color: slategray;
}

.reponse {
    background-color: rgb(161, 51, 66);
}


.reponse2, .reponse3, .reponse4, .reponse5, .reponse6, .reponse7, .reponse8, .reponse9 {
    background-color: gray;
}

body {
    background-color:white;color:rgb(4, 54, 4);font-size:21px;
}





